@import './variables.scss';

header {
  background-color: $color-main;
  text-align: center;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  color: $color-header-title;
}

.box {
  background-color: $color-box;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;

  .wrapper {
    padding: 10px;
    display: flex;

    .id {
      color: $color-main;
      font-weight: bold;
      padding-right: 20px;
    }

    .title {
      color: $color-title;
    }
  }
}

.text {
  text-align: center;
}
