<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>실습 파일</h1>
    <a href="/practice1">실습1</a>
    <!-- 파일 경로가 아니라, 포트번호 대로 싸야 함 ! -->
    <!-- app.get('/practice1', (req, res) => { -->
    <!-- res.render('practice1', { title: '폼 전송을 연습해보자 !' }); -->
    <!-- }); -->
    <!-- 위 코드와 일치하게 ! -->
    <a href="/practice2">실습2</a>
  </body>
</html>
