<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./includes/common', {title: '회원가입'}) %>
  </head>
  <body>
    <%- include('./includes/header') %>

    <h1>Sign Up</h1>
    <br />
    이름<input type="text" /><br /><br />
    아이디<input type="text" /> <br /><br />비밀번호<input type="text" />
    <br />
    <br />
    <button>
      <a href="/login" style="text-decoration: none; color: black"
        >로그인하러 가기</a
      >
    </button>
  </body>
</html>
