<!-- document title -->
<title><%= title %></title>

<!-- bootstrap cdn -->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
  crossorigin="anonymous"
></script>

<!-- common CSS -->
<link rel="stylesheet" href="/public/css/index.css" />
<!-- 미들웨어 사용한 덕분에 root로 시작해서 경로 지정 가능 -->
<!--  href="/static/css/index.css" 이라고 하면 시행이 안됨 -->

<!-- common JS -->
<script src="/public/js/index.js"></script>
