<header class="header">
  <ul>
    <li><a href="/" class="link">HOME</a></li>
    <li><a href="/sesac" class="link">SESAC</a></li>
    <li><a href="/login" class="link">LOGIN</a></li>
    <li><a href="/register" class="link">REGISTER</a></li>
  </ul>
</header>
